.card {
        display: inline-block;
        margin: 1rem;
        font-size: 1rem;
        overflow: hidden;
        box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);

    .character-name {
        text-align: center;
        font-size: 2rem;
        color: #fff;
        background-color: rgb(6, 28, 37);
    }

    img {
        display: block;
        min-height: 20rem;
        background: #fff center center no-repeat;
        background-size: cover;
    }

}