@font-face {
    font-family: 'BeaufortItalic';
    src: url('/fonts/Beaufort/BeaufortforLOL-BoldItalic.woff') format('woff');
  }

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    

    .cards-list.hide{
        display: none;
    }
    

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        overflow: hidden;
        animation: scale-cards 0.5s;
        border: none;
        font-family: 'BeaufortItalic', sans-serif;
        font-size: 1.5rem;

        &:hover {
            transform: scale(1.05);
        }

        .character-image {
            pointer-events: none;
            object-fit: contain;
        }

        .character-name {
            width: 100%;
            background-color: rgb(6, 28, 37);
            color: white;
            padding: 1rem;
            box-sizing: 0px 4px 20px rgba(0, 0, 0, 0.25);
            text-transform: capitalize;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

    @keyframes scale-cards {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1);
        }
    }
