header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    background-color: rgb(175, 122, 61);
}

header img {
    width: 15rem;
}