@font-face {
  font-family: "Beaufort";
  src: url("/fonts/Beaufort/BeaufortforLOL-Bold.woff") format("woff");
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 6rem;
  background-color: #111;
  font-family: "Beaufort", sans-serif;
  opacity: 90%;

  img {
    width: 11rem;
  }

  .nick {
    color: white;
    font-size: 2rem;
  }

  .github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.5rem;

    .fa-github {
      color: white;
      font-size: 2rem;
      transition: transform 0.9s ease-in-out;

      &:hover {
        transform: rotate(360deg) scale(1.3);
      }
    }
  }

  h1 {
    color: #fff;
  }
}

@media (max-width: 650px) {
  header {
    gap: 10;
  }
}
