@font-face {
    font-family: 'Beaufort';
    src: url('/fonts/Beaufort/BeaufortforLOL-Bold.woff') format('woff');
  }

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 6rem;
    background-color: #111;
    font-family: 'Beaufort', sans-serif;

    img {
        width: 11rem;
    }

    h1 {
        color: #fff;
    }
}